<div *ngIf="activeUser$ | async as user">
  Profile for {{user.displayName}}

  <form (ngSubmit)="onSubmit()">
      <md-form-field>
        <input mdInput placeholder="First name" [(ngModel)]="editFirstName" name="first">
      </md-form-field>
      <md-form-field>
          <input mdInput placeholder="Last name" [(ngModel)]="editLastName" name="last">
      </md-form-field>

      <button md-button type="submit">Save</button>
      <button md-button type="button" (click)="requestDeleteUser(user._id)">DELETE</button>
  </form>
</div>
