<div class="wrap">
  <div *ngIf="activeUser$ | async as user; else errorMessage">
    Profile for {{user.displayName}}

    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="First name" [(ngModel)]="editFirstName" name="first">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last name" [(ngModel)]="editLastName" name="last">
        </mat-form-field>

        <button mat-raised-button type="submit" color="accent">Save</button>
        <button mat-button type="button" (click)="requestDeleteUser(user._id)" color="warn">DELETE</button>
    </form>
  </div>

  <ng-template #errorMessage>Cannot find user {{selectedUserId}}</ng-template>
</div>
