<div *ngIf="activeUser">Coffees for {{activeUser.displayName}}
  <button md-button type="button" (click)="requestAddCoffee(activeUser._id)">Add Coffee Break</button>
</div>


<ng-template #errorMessage>There are no coffees for user {{selectedUserId}}, or the user doesn't exist</ng-template>

<div *ngIf="activeCoffeeList; else errorMessage">
  <ul>
    <li *ngFor="let coffee of activeCoffeeList.coffees; let i = index">
      <div>{{coffee}}</div>
      <button (click)="requestDeleteCoffee(activeCoffeeList._id, i)">DELETE</button>
    </li>
  </ul>
</div>
