.wrap {
    padding: 20px;

    .title {
        margin-bottom: 20px;
    }

    .add-button {
        display: block;
    }

    .coffee-list {
        list-style: none;
    }

    .coffee-item,
    .delete-button {
        display: inline-block;
        vertical-align: middle;
    }
}
