<div>
  <md-toolbar>
    <a [routerLink]="['/']">{{title}}</a>

    <app-user-profile-select (selectRequest)="selectUser($event)" [selectedUserId]="selectedUserId" ></app-user-profile-select>

    <a md-button [routerLink]="['/profile', selectedUserId]">Profile</a>
    <a md-button [routerLink]="['/coffees', selectedUserId]">Coffees</a>
    <a md-button [routerLink]="['/register']">Register</a>

  </md-toolbar>

  <!-- "primary" outlet: top-level routes loaded here -->
  <router-outlet></router-outlet>
</div>
