<div>
  <mat-toolbar>
    <button class="home-button" mat-fab color="primary" [routerLink]="['/']">
      <mat-icon class="material-icons icon">local_cafe</mat-icon>
    </button>

    <app-user-profile-select class="app-user-profile-select" (selectRequest)="selectUser($event)" [selectedUserId]="selectedUserId" ></app-user-profile-select>

    <button class="nav-button" mat-raised-button [routerLink]="['profile', selectedUserId]" [disabled]="selectedUserId ? null : ''" color="primary">Profile</button>
    <button class="nav-button" mat-raised-button [routerLink]="['coffees', selectedUserId]" [disabled]="selectedUserId ? null : ''" color="primary">Coffees</button>
    <button class="nav-button" mat-raised-button [routerLink]="['register']" color="primary">Register</button>

  </mat-toolbar>

  <!-- "primary" outlet: top-level routes loaded here -->
  <router-outlet></router-outlet>
</div>
